@page
@model MovieMatchApp.Pages.WatchlistModel

<h2>My Watchlist</h2>

@if (TempData["SuccessMessage"] != null)
{
    <p style="color: green; font-weight: bold;">
        @TempData["SuccessMessage"]
    </p>
}

<a href="/AddMovie">Add New Movie</a>

<br />

<a href="/RandomMovie">Surprise Me</a>

<br /><br />

<table border="1">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Runtime</th>
        <th>Action</th>
    </tr>

    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Genre</td>
            <td>@movie.ReleaseYear</td>
            <td>@movie.Runtime min</td>
        </tr>
    }
</table>

